body {
background-image: url(https://cdnb.artstation.com/p/assets/images/images/019/044/805/medium/oliver-chipping-sru-estshot.jpg?1561756520);
background-attachment: fixed;
background-size: cover;
}

.conteudo {
    max-width: 1350px;
    width: 100%;
    margin: auto;

}

h1 {
    margin: 50px auto;
    width: 150px;
    height: 50px;
    background-color: rgb(6, 6, 42);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    border-radius: 20px;
}

.secao-lane {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.card-campeao {
    width: 400px;
    border: 2px solid black;
    border-radius: 2px;
    transition: transform 0.3s ease;
    
}

 * {
    box-sizing: border-box;
}

.card-campeao div {
    width: 100%;
    height: 50px;
    background-color: rgb(6, 6, 42);
    color: white;
    font-size: 24px;
    padding: 10px;
    
    
}

img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    
}
.card-campeao:hover {
  transform: scale(1.1);
}

